/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/*
Písmo pro běžný text:
font-family: 'Open Sans', sans-serif;
font-size: 15px+
line-height: 1.5;

Písmo pro menší nadpisy (kromě velkého h1):
font-family: 'Rubik', sans-serif;
font-weight: 700;
*/


body {
    margin: 0 auto;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.sekce-bila,
.header {
    width: 80vw;
    margin: 0 auto;
}

.uvod {
    background-color:rgb(220,220,220);
    margin: 0;
}


h2 {font-family: "Rubik", sans-serif;
font-weight: 700;}

h1 {font-family: "Open-sans", sans-serif;}
p {text-align: justify;}

/* ----------------------- MOBIL do 480px vč. --------------------------- */
.hlavicka {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 2vh;
    }

.hlavicka-vlevo {
    display: flex;
    justify-content: center;
    align-items: center;
    }

.logo {
    height: 2rem;
    }

.hlavicka-vpravo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.menu li {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: baseline;
    list-style: none;
    /* gap: 1rem; */
    
    }

.menu-tlacitka {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.tlacitko {
    border: 1px solid black;
    border-radius: 5px;
    min-width: fit-content;
    padding: 5px 10px;
}

.paticka-menu {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;}

.menu a,
.menu-tlacitka a,
.banner-text a,
.paticka-menu a {
    text-decoration: none;
    padding: 5px 10px;}

.tlacitko:focus {
    background-color: #3498db;
    color: white;}

.menu {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}

.banner-foto img {
    max-width: 90vw;
    justify-content: center;
    margin: 0 auto;
    border: 1px dotted rgb(0, 255, 34);}

.paticka {
    display: flex;
    width: 100vw;
    gap: 50px;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    padding: 50px 10vw;
    background-color: #252525;
    }

.copyright {color: #959595;
    font-size: 13px;}

.paticka-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-size: 13px;
    font-weight: bold;
    gap: 20px;
}
.paticka-menu a {color: white;}




/* ================ Tablet od 481px  ========================== */
@media screen and (min-width: 481px) {
.hlavicka {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90vw;
    gap: 0;}
    
.hlavicka-vlevo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;}
    
.logo {
    display: flex;
    /* height: 2rem; */
}

.hlavicka-vpravo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end; 
    align-items: flex-end;
    /* flex-grow: 0.5; */
    margin: 0;
    font-size: 1rem;}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 0;
    padding-left: 0;}

.menu li {
    /* justify-content: space-around; */
    align-items: center;
    min-width: 20%;
    padding-right: 0;
    flex-shrink: 1;
    padding-right: 5px;
    
}

.menu-tlacitka {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* gap: 5px; */
    justify-content: center;
    align-items: flex-end;
  
}
.paticka-menu {
    flex-direction: row;
    align-items: center;
    }
.paticka {
    gap: 5px;
    padding: 50px 10vw;
}  
}






/* ================ Desktop od 769px  ========================== */
@media screen and (min-width: 769px) {
.uvod,
.sekce-bila {
    width: 80vw;
    margin: 2vh auto;}

.hlavicka-vpravo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end; 
    align-items: center;
    flex-grow: 0.5;
    margin: 0;}


.menu-tlacitka {
    display: flex;
    gap: 5px;
    align-items: center;}


.menu {
    padding-left: 0;}

.paticka-menu {
    flex-direction: row;
    align-items: center;
    }
.paticka {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: space-between;
    padding: 50px 10vw;
}    

}