/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/*
Písmo pro běžný text:
font-family: 'Open Sans', sans-serif;
font-size: 15px+
line-height: 1.5;

Písmo pro menší nadpisy (kromě velkého h1):
font-family: 'Rubik', sans-serif;
font-weight: 700;
*/


body {
    margin: 0;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.uvod {
    background-color:rgb(220,220,220);
    margin: 0;
    padding-bottom: 0;
}

.wrap {
    border: 1px solid red;
}

.sekce-bila, 
.sekce-cerna,
.uvod {
    padding: 50px 10vw;
    border: 3px dotted blue;
}

h2 {font-family: "Rubik", sans-serif;
font-weight: 700;}

h1 {font-family: "Open-sans", sans-serif;}
p {text-align: justify;}

ul {padding-left: 0;}

.banner {
    margin-top: 0;    
    border: 2px dashed white;}

/* ----------------------- MOBIL do 480px vč. --------------------------- */

.hlavicka {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }

.hlavicka-vlevo {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    }

.logo {
    height: 2rem;
    }

.hlavicka-vpravo {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid rgb(255, 0, 200);
}

.menu li {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.menu-tlacitka {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.tlacitko {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    }
/* =========================================================== */
.paticka-menu {
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid yellow; */
}

.tlacitko,
.menu a,
.paticka-menu a {
    text-decoration: none;
    flex-wrap: nowrap;
}

.tlacitko:active {
    background-color: #3498db;
    color: white;}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner-foto {
    flex-basis: 100vw;
    text-align: center;
    /* display: flex; */
}

.banner-foto img {
    width: 100%;
    border: 1px dotted rgb(0, 255, 34);

}
.sekce-cerna {
    background-color: #252525;
}

.paticka {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #252525; 
    /* gap: 20px; */
    /* gap: 2rem; */
    border: 3px dashed green;
    }

.copyright {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: #959595;
    font-size: 13px;
    border: 2px dotted lightcoral;    
}

.paticka-menu {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    gap: 1.5rem;
    padding: 5px 10px;

    font-family: "Rubik", sans-serif;
    font-size: 13px;
    font-weight: bold;
    }

.paticka-menu a {color: white;}




/* ================ Tablet od 481px do 768px včetně ========================== */
@media screen and (min-width: 481px) {
.hlavicka {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    }

.hlavicka-vlevo {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    }
    

.hlavicka-vpravo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end; 
    align-items: baseline;
    font-size: 0.9rem;
    }

.menu {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    text-align: left;
    flex-wrap: nowrap;
    }

.menu li {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2px;
    padding-right: 10px;
    border: 2px dashed purple;
    }

.menu-tlacitka {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
 }

.banner-text {
    padding-top: 50px;
    border: 10px dotted pink;
}
/* ======================patička tablet ============= */
.paticka {
    display: flex;
    flex-basis: 100%;
    gap: 0px;
    align-items: center;
    justify-content: space-between;
    
}  
.paticka-menu {
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    }


.copyright {
    flex-basis: 100%;
}
.paticka-menu li {
    flex-basis: calc(100% / 5);
}

}





/* ================ Desktop od 769px a více  ========================== */
@media screen and (min-width: 769px) {

/* === Hlavička Desktop od 769px a více  == */
.hlavicka,
.paticka {border: 5px dashed green;
justify-content: space-between;
flex-basis: 100%;
}

.hlavicka-vlevo {border: 3px solid white;}

.hlavicka-vpravo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    
}

.logo {height: 1.5rem;
flex-shrink: 1.5;}    
        
.menu-tlacitka {
    /* display: flex; */
    align-items: center;
    flex-grow: 1;
    border: 2px dotted green;
    }

    .menu {
        /* display: flex;
        align-items: center;
        justify-content: flex-end; */
        flex-grow: 3;
        flex-direction: row;
        border: 3px dotted rgb(36, 206, 248);
    
    }
    .menu li {
    padding: 5px 10px;
    border: 2px dashed purple;
    /* align-items: center; */
    /* justify-content: flex-end;  */
    }



/* ======== patička desktop ============== */
.paticka {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 100%;
    gap: 15%;
    border: 2px solid white;
    
    }

.paticka-menu {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 60%;
    }

.copyright {
    flex-direction: row;
    flex-basis: 25%;
    align-items: center;
    justify-content: flex-start;
    }  

.paticka-menu li {
    border: 3px solid blue;
    padding-left: 0;
    text-align: left;
    flex-basis: calc(100% / 5);
    justify-content: flex-end;
}
  

}