/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/*
Písmo pro běžný text:
font-family: 'Open Sans', sans-serif;
font-size: 15px+
line-height: 1.5;

Písmo pro menší nadpisy (kromě velkého h1):
font-family: 'Rubik', sans-serif;
font-weight: 700;
*/

body {
    margin: 0 auto;
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    line-height: 1.5;}

.hlavicka,
.paticka, a {font-size: 13px;}

.menu a, 
.tlacitko-velke {color: #959595;}

.menu-tlacitka a {color: white;}
.uvod {
    background-color:rgb(220,220,220);
    margin: 0;
    padding-bottom: 0;}

.uvod,
.sekce-bila {
    max-width: 1140px;
    margin: auto auto;}

.sekce-bila, 
.sekce-cerna {padding: 50px 5vw;}

.wrap {padding-bottom: 0;}

h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;}

h1 {
    font-family: "Open-sans", sans-serif;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.2;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;}

.banner-text {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    max-width: 480px;}

.tlacitko-velke {
    font-size: 16px;
    font-weight: 600;
    align-self: center;}

p {text-align: justify;}

.minitext {
    text-align: center;
    margin-top: 1rem;}

ul {padding-left: 0;}

.vlastnosti {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 30px;}

.vlastnost {
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.178);
    border-radius: 1rem;
    padding: 30px;}

.vlastnost img { 
    width: 50px; 
    height: 50px;
    margin: 30px;}

/* ----------------------- MOBIL do 480px vč. --------------------------- */

.hlavicka {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;}

.hlavicka-vlevo {
    display: flex;
    justify-content: center;
    align-items: center;}

.logo {
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;}

.hlavicka-vpravo {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 5px;}

    
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}

.menu li {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 5px 10px;}

.menu-tlacitka {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem 0.5rem;}

.tlacitko {
    border: 1px solid #959595;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 600;}

/* =========================================================== */
.paticka-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;}

.tlacitko,
.menu a,
.paticka-menu a {
    text-decoration: none;}

.tlacitko,
.tlacitko-velke {
    background-color: #3498db;
    color: white;}

.tlacitko:hover,
.tlacitko:hover {
        background-color:  #3498db;
        font-weight: 600;}

.tlacitko:active {
    background-color: #3498db;
    font-weight: 600;
    color: black;
    border: 1px dashed #131212;}

.banner-foto img {
    width: 100%;
    border: 3px dotted rgb(0, 255, 34);}

.sekce-cerna {
    background-color: #252525;}

.paticka {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #252525;}

.copyright {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: #959595;
    font-size: 13px;
    padding: 5px 10px;}

.paticka-menu {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    gap: 1.5rem;
    padding: 5px 10px;
    font-family: "Rubik", sans-serif;
    font-size: 13px;
    font-weight: bold;}

.paticka-menu a {color: white;}


/* ================ Tablet od 481px do 768px včetně ========================== */

@media screen and (min-width: 481px) {
.hlavicka {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin: 0 5vw;
    padding: 50px 0;}

.hlavicka-vlevo {
    align-items: baseline;
    justify-content: flex-start;
    flex-basis: auto;}

.hlavicka-vpravo {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.5rem 1rem;
    font-size: 0.8rem;
    padding-bottom: 0;}

.menu {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 0;}

.menu li {
    /* padding: 5px 10px; */
    flex-basis: content;
    flex-shrink: 2;}

.menu-tlacitka {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;}

h1 {
    font-size: 44px;
    font-weight: 300;}
/* ================= Banner pozicování pro Tablet ================ */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;}

.banner-text {
    padding-top: 0px;}

/* ====================== Patička pro tablet ======================= */
.paticka-menu {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    gap: 0.5rem;}

.paticka-menu li {
    padding: 5px 10px;} 
}


/* ================ Desktop od 769px a více  ========================== */

@media screen and (min-width: 769px) {

.sekce-bila {box-shadow: 0 1px 0 1px #95959536;}

/* === Hlavička Desktop od 769px a více  == */
.hlavicka,
.paticka {
    justify-content: space-between;
    margin: 0 5vw;}

.hlavicka {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;}

.hlavicka-vlevo {
    justify-content: flex-start;
    flex-basis: auto;}

.hlavicka-vpravo {
    flex-basis: auto;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;}

.menu {
    flex-direction: row;
    text-align: left;
    flex-wrap: nowrap;
    margin: 0;}

.menu-tlacitka {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    flex-basis:unset;}

.banner-text {
    margin: 0 auto;}

/* ======== patička desktop ============== */
.paticka {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 5vw;}

.wrap .paticka {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 0.5rem;}

.paticka-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin: 0;
    padding: 0;}

.copyright {
    align-items: center;
    flex-wrap: nowrap;
    flex-basis: auto; 
    padding: 5px 10px;
    margin: 0;}  

.paticka-menu li {
    text-align: left;
    margin: 0;}

.hlavicka-vlevo {
    margin: 0;
    padding: 0;}

/* ============ .sekce-bila na Desktopu======= */
.vlastnosti {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;}

.vlastnost {display: flex;
flex-direction: row;
flex-basis: auto;}

.card-img-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;}

.card-body {
    display: flex;
    flex-wrap: wrap;}

/* ============== Baner pozicování na Desktopu ============ */
.banner {
    display: flex;
    flex-direction: row;
    margin: 0 5vw;}

.banner-foto {
    align-self: flex-end;}

.banner-text {
    align-items: flex-start;
    text-align: left;}

h1 {text-align: left;}

.tlacitko-velke {align-self: flex-start;}

.banner-foto img {
    position: relative;
    width: 130%;
    height: auto;
    float: right;
    bottom: 0;
    left: 0;
    overflow-inline: visible;}
}
/* ==================== Konec desktop =================== */